@import "tailwindcss";

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 15 23 42;
  }
}

body {
  color: rgb(var(--foreground));
  background: linear-gradient(to top, #a195eb 0%, #e1dbf1 15%, #ffffff 100%);
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}